/* -------------------------- */
/* base
/* -------------------------- */

html{
  font-size: 62.5%;
}
body{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 1.6rem;
  color: #333;
  background-color: #fff;
}
img{
  width: 100%;
  vertical-align: bottom;
}
a{
  text-decoration: none;
  color: #225967;
  letter-spacing: 5%;
  line-height: 23px;
}
ul{
  list-style: none;
}
input{
  border: 0;
  outline: none;
  appearance: none;
  -webkit-appearance:none;
}
textarea{
  border: 0;
  outline: none;
  resize: none;
}
/* -------------------------- */
/* //base
/* -------------------------- */
/* -------------------------- */
/* header
/* -------------------------- */

header{
  padding: 15px 60px 15px 60px;
  background-color: #fff;
  position: relative;      /*z-index:0が設定されるため面に表示される？*/
  /*background-color: #ffffff;*/
}

/*flex設定*/
.flex-rr{
  display: flex;
  justify-content: space-between;
}
.flex-rc{
  display: flex;
  justify-content: space-between;
}
.flex-sc{
  display: flex;
  justify-content: center;
}
.flex-rsc{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.flex-pc{
  display: flex;
  justify-content: center;
}
.flex-pcl{
  display: flex;
  justify-content: flex-start;
}
.flex-scl{
  display: flex;
  justify-content: flex-start;
}
/*//flex設定*/

.shop-img{
  max-width: 60px;
}
.nav-item{
  font-size: 1.6rem;
  padding: 20px 0px;
  margin-right: 27px;
  letter-spacing: 0.05em;
}
.nav-item:last-of-type{
  margin-right: 0;
}
.nav-item:hover{
  transition: .5s;
  opacity: .3;
  text-decoration: underline;
}



/* ハンバーガーメニュー */
.burger-btn{
  display: none;
}

/* -------------------------- */
/* //header
/* -------------------------- */
/* -------------------------- */
/* key-visual
/* -------------------------- */

.kv-wrapper{
  margin-top: -90px;
}
.kv-wrapper-img{
  margin: 0 auto;
}
.kv-copy{
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 15.0rem;
  font-weight:bold;
  color: #fff;
  text-align: center;
  margin-top: -510px;
  margin-bottom: 510px;
  letter-spacing: 0.05em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* kv-button */
.kv-wrapper-button{
  position: fixed;
  display: block;
  top: 98%;
  left: 85%;
  transform: translate(-50%,-50%);
}
.kv-wrapper-button-sw{
  width: 320px;
  display:block;
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.kv-wrapper-button-dg{
  width: 255px;
  display: block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.kv-wrapper-button-ci{
  width: 175px;
  display:block;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.car-icon{
  width: 100px;
  display: block;
  position:absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.kv-button{
  margin-top: 50%;
  padding: 13px 0px 12px 22px;
  line-height: auto;
  background-color: #BE5F42;
  border-radius: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.more-button{
  color: #fff;
  white-space: nowrap;
  font-size: 16px;
}
.kv-button:hover{
  transition: .3s;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.arrow{
  width: 15px;
  margin-left: 15px;
  margin-right: 23px;
}
.arrow:hover{
  opacity: .5;
  transition: .3s;
}
.more-button:hover{
  opacity: .5;
  transition: .3s;
}
/* //kv-button */

/* -------------------------- */
/* //key-visual
/* -------------------------- */
/* -------------------------- */
/* Message
/* -------------------------- */

.section-title{
  font-family: 'brandon-grotesque', sans-serif;
  text-align: center;
  margin: 150px 0px 30px; /*なぜTOPが350pxでkv下に配置されるかを要確認_動くボタンの問題かも*/
  font-size: 7.0rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.05em;
}
/*.section-title::after{
  margin-top: 50px;
  margin-left: -890px;
  content:"";
  height: 0px;
  width: 400px;
  position: absolute;
  border: dashed 4px #333;
}
.section-title::before{
  margin-top: 50px;
  margin-left: 480px;
  content:"";
  height: 0px;
  width: 400px;
  position: absolute;
  border: dashed 4px #333;
}*/
.message-wrapper{
  max-width: 1240px;
  margin: auto;
  text-align:center;
}
.message-img{
  max-width: 1000px;
  margin: auto ;
}
.message-info{
  color: #333;
  font-weight: bold;
  font-size: 2.0rem;
  margin-top: -40%;
  margin-bottom: 50%;
  line-height: 150%;
  letter-spacing: 0.05em;
}

/* -------------------------- */
/* //Message
/* -------------------------- */

/* -------------------------- */
/* Infomation
/* -------------------------- */

.infomation-wrapper{
  max-width: 1240px;
  margin: auto;
}
.infomation-list{
  margin: auto;
  max-width: 865px;
}
.infomation-item{
  margin-bottom: 10px;
}
.infomation-item:last-of-type{
  margin-bottom: 0px;
}
.infomation-title{
  text-align: center;
  width: 134px;
  background-color: #225967;
  color:#fff;
  padding: 27px 66px 27px 65px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.infomation-text{
  text-align: left;
  display: table-cell;
  vertical-align: middle;
  width: 476px;
  height: 32px;
  background-color: #fff;
  padding: 19px 94px 19px 30px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}

/* -------------------------- */
/* //Infomation
/* -------------------------- */

/* -------------------------- */
/* Footer
/* -------------------------- */
/* -------------------------- */
/* Footer
/* -------------------------- */
.footer-wrapper{
  margin: auto 0;
  margin-top: 170px;
}
.sns-img{
  max-width: 50px;
  margin-top: -95px;
  margin-right: 50px;
}
.sns-img:last-of-type{
  margin-right: 0px;
}
.footer-simg{
  display: none;
}
/* -------------------------- */
/* //Footer
/* -------------------------- */

/* ----------------------------------------------------------------スマホ版 */

@media screen and (max-width:428px){
/* -------------------------- */
/* sp-header
/* -------------------------- */

header{
  padding: 15px 30px 15px 30px;
  background-color: #fff;
  position: relative;
}

/*flex設定*/
.flex-sc{
  display: flex;
  flex-direction: column;
}
.flex-rsc{
  display: flex;
  flex-direction: column;
}
.flex-scl{
  display: flex;
  flex-direction: column;
}
/*//flex設定*/

.shop-img{
  max-width: 60px;
}
.nav-item{
  font-size: 1.6rem;
  padding: 20px 0px;
  margin-right: 0px;
  letter-spacing: 0.05em;
}

/* ハンバーガーボタン */
.burger-btn{
  display: block;
  width: 55px;
  height: 45px;
  position: relative;
}
.bar{
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: #333;
  position: absolute;
  z-index: 999; /*メニューの下に隠れないようにz-indexを指定する*/
}
.bar_top{
  top: 8px;
}
.bar_middle{
  top: 24px;
}
.bar_bottom{
  bottom: 0;
}
.burger-btn.cross .bar_top{
  transform: rotate(45deg);
  top: 20px;
  transition: .3s;
}
.burger-btn.cross .bar_middle{
  opacity: 0;
  transition: .3s;
}
.burger-btn.cross .bar_bottom{
  transform: rotate(-45deg);
  bottom: 20px;
  transition: .3s;
}
/* ハンバーガーメニューが開いたときのスタイル */
.header-nav{
  display: none;  /* コメントアウトしてナビゲーションを表示させます */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #EBECD5;
  z-index: 10px
}
.nav-list{
  display: block;position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  z-index: 11px
}

/* -------------------------- */
/* //sp-header
/* -------------------------- */
/* -------------------------- */
/* sp-key-visual
/* -------------------------- */

.kv-wrapper{
  margin-top: -80px;
  max-width: 375px;
}
.kv-wrapper-img{
  margin: 0 auto;
}
.kv-wrapper-img img{
  object-fit: cover;
  object-position: -550px 0px;
  height: 600px;
  width: 375px;
  border: dashed 1px silver;
}
.kv-copy{
  font-family: 'brandon-grotesque', sans-serif;
  font-size: 8.0rem;
  font-weight:bold;
  color: #fff;
  text-align: center;
  margin-top: -370px;
  margin-bottom: 360px;
  letter-spacing: 0.05em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* kv-button */
.kv-wrapper-button{
  display: none;
}
/* //kv-button */

/* -------------------------- */
/* //sp-key-visual
/* -------------------------- */
/* -------------------------- */
/* sp-Message
/* -------------------------- */

.section-title{
  font-family: 'brandon-grotesque', sans-serif;
  text-align: center;
  margin: 150px 0px 30px; /*なぜTOPが350pxでkv下に配置されるかを要確認_動くボタンの問題かも*/
  font-size: 5.0rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.05em;
}
/*.section-title::after{
  margin-top: 50px;
  margin-left: -890px;
  content:"";
  height: 0px;
  width: 400px;
  position: absolute;
  border: dashed 4px #333;
}
.section-title::before{
  margin-top: 50px;
  margin-left: 480px;
  content:"";
  height: 0px;
  width: 400px;
  position: absolute;
  border: dashed 4px #333;
}*/
.message-wrapper{
  max-width: 300px;
  margin: auto;
  text-align:center;
}
.message-img{
  max-width: 300px;
  margin: auto ;
}
.message-info{
  color: #333;
  font-size: bold;
  margin-top: -52%;
  margin-bottom: 223px;
  line-height: 150%;
  letter-spacing: 0.05em;
}

/* -------------------------- */
/* //sp-Message
/* -------------------------- */

/* -------------------------- */
/* sp-Infomation
/* -------------------------- */

.section-title:last-of-type{
  font-size: 4.0rem;
}
.infomation-wrapper{
  max-width: 300px;
  margin: auto;
}
.infomation-list{
  margin: auto;
  max-width: 300px;
}
.infomation-item{
  margin-bottom: 50px;
}
.infomation-item:last-of-type{
  margin-bottom: 0px;
}
.infomation-title{
  text-align: center;
  width: 134px;
  background-color: #225967;
  color:#fff;
  padding: 27px 83px 27px 83px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.infomation-text{
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 267px;
  height: 32px;
  background-color: #fff;
  padding: 11px 16px 11px 17px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 50px;
}

/* -------------------------- */
/* //sp-Infomation
/* -------------------------- */

/* -------------------------- */
/* sp-Footer
/* -------------------------- */
.footer-wrapper{
  margin: auto 0;
  margin-top: 170px;
}
.sns-img{
  max-width: 50px;
  margin-top: -70px;
  margin-right: 20px;
}
.sns-img:last-of-type{
  margin-right: 0px;
}
.footer-img{
  display: none;
}
.footer-simg{
  display: inline;
}
/* -------------------------- */
/* //sp-Footer
/* -------------------------- */

}


@media screen and (min-width: 650px){	
  .br-pc { display:block; }
  .br-sp { display:none; }
}
@media screen and (max-width: 375px){	
  .br-pc { display:none; }
  .br-sp { display:block; }
}